/* standard farver til siden */
:root {
    --beige: rgb(224, 207, 182);
    --dusty-green: rgb(131, 167, 129);
    --light-dusty-green: rgb(174, 206, 172);
}

/* importeret font til header */
@font-face {
    font-family: 'seaweed';
    src: url('/fonts/seaweedscript-regular-webfont.woff2') format('woff2'),
         url('/fonts/seaweedscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*importeret font til underoverskrifter*/
@font-face {
    font-family: 'domine';
    src: url('/fonts/domine-variablefont_wght-webfont.woff2') format('woff2'),
         url('/fonts/domine-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* importeret font til tekst */
@font-face {
    font-family: 'hindsiliguri';
    src: url('/fonts/hindsiliguri-light-webfont.woff2') format('woff2'),
         url('/fonts/hindsiliguri-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* side overskrift */
header {
    text-align: center;
    width: 100%;
    background-color: var(--dusty-green);
    color: white;
    border: 1px solid var(--dusty-green);
    font-family: seaweed, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* font til alle underoverskrifter */
h2, h3, h4, h5, h6 {
    font-family: domine, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: hindsiliguri, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* navigation bar */
.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--beige);
    height: 100%;
    width: 100%;
}

@media (min-width: 800px) {
    .menu {
        grid-template-columns: repeat(7, 1fr);
    }
}

/* navigation bar buttons */
.menu > button {
    background-color: var(--beige);
    cursor: pointer;
    color: black;
    height: 100%;
    width: 100%;
    border: none;
    font-style: italic;
}

/* grid container */
.container1 {
   display: grid;
   align-items: center;
   grid-template-columns: 1fr;
   width: 100%;
}

@media (min-width: 900px) {
    .container1 {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .container1 {
        grid-template-columns: 1fr 2fr;
    }
}

.container2 {
   display: grid;
   align-items: center;
   grid-template-columns: 1fr;
   width: 100%;
}

@media (min-width: 800px) {
    .container2 {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .container2 {
        grid-template-columns: 1fr 1fr;
    }
}

/* recipe description section */
.text {
    text-align: left;
    width: 100%;
    background-color: white;
}

/* ingredients list section*/
.ingredients {
    background-color:  var(--beige);
    width: 100%;
    height: 100%;
}

/* cooking method section */
.procedure {
    width: 100%;
    background-color: white;
}

.img-div1 {
    width: 100%;
    background-color: var(--beige);
}

.img-div2 {
    background-color: var(--beige);
    width: 100%;
}

/* bottom left image */
.img-div2 img {
    width: 100%;
}

/* recipe rating section*/
.rating {
    background-color: var(--beige);
    width: 100%;
    height: 100%;
}

/* nutrition table section*/
.table {
    width: 100%;
    height: 100%;
    background-color: var(--beige);
}

/* nutrition table elements */
.table table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--light-dusty-green);
    padding: 10px;
}

/* footer section */
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--light-dusty-green);
    width: 100%;
    height: 100%;
}

footer div{
    grid-row: 1;
    width: 100%;
    height: 100%;
}

footer div p {
    text-align: center;
    width: 100%
}