header {
    text-align: center;
    width: 1080px;
    background-color: rgb(60, 58, 58);
    border: 1px solid black;
    color: white;
}

body {
    margin: auto;
    width: 80%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

hr {
    border: none;
}

nav {
    background-color: gray;
    padding-top: 10px;
    height: 30px;
    width: 1080px;
    border: 1px solid black;
    text-align: center;
}

.container {
   display: grid;
   align-items: center;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.text {
    text-align: left;
    width: 540px;
    height: 332px;
    background-color: darkgrey;
    border-right: 1px solid black;
    padding-bottom: 27px;
}

.list {
    background-color: darkgray;
    width: 540px;
    height: 550px;
}

.rating {
    background-color: darkgray;
    width: 540px;
    height: 200px;
    border-top: 1px solid black;
}

.table {
    width: 540px;
    height: 200px;
    background-color: darkgray;
    border-top: 1px solid black;
}

.table table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: gray;
    width: 1080px;
    height: 50px;
    padding-bottom: 10px;
}